@page "/Account/Login"

@using AgentAchieve.Core.Domain
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using AgentAchieve.Infrastructure.Features.Identity

@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager
@inject SignInManager<ApplicationUser> SignInManager

<PageTitle>Log in</PageTitle>
<div class="align-items-center d-flex justify-content-center">
    <StatusMessage />
    <TelerikCard Width="600px">
        <CardHeader>
            <CardTitle>Welcome to Agent Achieve</CardTitle>
        </CardHeader>
        <CardBody>
            <p class="">To continue, please sign in with your Google account.</p>
            <form class="form-horizontal d-flex justify-content-center" action="Account/PerformExternalLogin" method="post">
                <div>
                    <AntiforgeryToken />
                    <input type="hidden" name="ReturnUrl" value="@ReturnUrl" />
                    <button type="submit" class="btn btn-primary google-signin-button" name="provider" value="Google" title="Log in using your Google account">
                        <img src="https://developers.google.com/identity/sign-in/g-normal.png" alt="Google logo">
                        Sign in with Google
                    </button>
                </div>
            </form>
        </CardBody>
    </TelerikCard>
</div>

@code {

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }

    }
}

<style>


    .google-signin-button {
        background-color: #4285f4;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .google-signin-button img {
            margin-right: 10px;
        }
</style>
