@page "/"

<PageTitle>Home</PageTitle>

<TelerikCard >
    <CardHeader>
        <CardTitle>Agent Achieve</CardTitle>
        <CardSubTitle>Track Your Goals. Reach Your Potential.</CardSubTitle>
    </CardHeader>
    <CardImage Class="home-image" Src="images/house_and_money.jpg"></CardImage>
    <CardBody>
        <p>Agent Achieve helps you stay organized, focused, and motivated. Set goals, track your progress, and celebrate your achievements!</p>
    </CardBody>
</TelerikCard>

<style>
    .home-image {
        max-height: 800px; 
    }
</style>